@model PassengerSummaryModel

    <div class="row">
        <b>Passenger Summary</b>
        <table class="table">
            <tr><td>Passenger Count : &nbsp; @Model.PassengerCount</td></tr>
            <tr>
                <td>Total Weight : &nbsp; @Model.TotalWeight</td>
            </tr>
        </table>
    </div>